*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body{
    background: #E9ECF8;
}

header{
    width: 100%;
    height: 70px;
}

main{
    justify-content: space-between;
    display: flex;
    width: 100%;
    height: 90%;
    position: absolute;
}

.logo{
    width: 100px;
    height: 70px;
    padding: 20px 0 0 40px;
}
.Encriptar{
    font-size: 30px;
    border-radius: 30px;
    display: block;
    position: relative;
    width: 900px;
    height: 940px;
    right: 50px;
    padding-left: 250px;
    padding-top: 50px;
    box-sizing: border-box;
}

#escribirTexto{
    width: 80%;
    height: 100%;
    border: none;
    cursor: pointer;
    font-weight: 32px;
    font-weight: 400;
    background-color: #E9ECF8;
    color: #0A3871;
}

#escribirTexto:placeholder{
    color: #0A3871;
}

#Desencriptar{
    background: #ffffff;
    font-size: 30px;
    border-radius: 30px;
    display: block;
    position: relative;
    width: 400px;
    height: 940px;
    right: 50px;
    padding-right: 20px;
    box-sizing: border-box;
    text-align: center;
    padding-top: 400px;

}

.muneco{
    position: absolute;
    left: 30px;
    top: 180px;
    padding-top: 50px;
    box-sizing: border-box;
}

.msjResultado{
    position: absolute;
    box-sizing: border-box;
    top: 570px;
    left: 40px;
}

.msjResultado h3{
    font-size: 24px;
    font-weight: 700px;
    text-align: center;
    color: #343A40;
}

.msjResultado P{
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #495057;
    padding-top: 20px;
}


#btn-encriptar{
    width: 30%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color:white;
    background: #0a3871;
    border:none;
    border-radius: 10px;
    cursor:pointer;
    transition: 1s all;
    margin: 2em;
}

#btn-encriptar:hover{
    background: #052051;
    transform: scale(1.1);
}

#btn-desencriptar{
    width: 30%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color:white;
    background: #495057;
    border-radius: 10px;
    cursor:pointer;
    transition: 1s all;
}

#btn-desencriptar:hover{
    background: #343A40;
    transform: scale(1.1);
}

